@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/** {
    margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}*/

.regular-user-profile{
    padding-top:50px;
    background-color:#EEEEEE;
}

.regular-user-profile h2{
    text-align:center;
}

.regular-user-profile .profile-pic {
    position: relative;
}

.regular-user-profile .info {
    bottom: 0;
    color: #ffffff;
    padding: 20px 15px 0px;
    position: absolute;
    width: 100%;
    text-shadow: 1px 1px 2px #000000;   
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, #2d2c41 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, #2d2c41 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #2d2c41 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a64d4d4d',GradientType=0 ); /* IE6-9 */
}

.regular-user-profile .avatar {
    border-radius: 4px 4px 0 0;
    max-height: 420px;
    display:block;
    margin: auto;
}

.regular-user-profile .info p{
    margin: 0 0 0 0;
}

.regular-user-profile .info > h2 {
    font-family: oswald;
    font-size: 27px;
    font-weight: lighter;
    margin: 31px 0 4px;
    position: relative;
    text-shadow: 1px 1px 2px #000000;
    text-transform: uppercase;
}

.regular-user-profile .info > h2 small {
    color: #ffffff;
    font-family: open sans;
    font-size: 13px;
    font-weight: 400;
    position: relative;
}

.regular-user-profile .info .fa{
    color: #ffffff;
    font-size: 25px;
    margin: 0 10px 5px 4px;
    position: static;
}

.regular-user-profile .social-profiles a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    font-size: 21px;
    height: 39px;
    line-height: 38px;
    margin: 8px;
    text-align: center;
    width: 39px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
	transition: all 0.4s ease;
    text-decoration: none !important;
     display: list-item;
     background-color: rgba(255, 255, 255, 0.1)
}

.regular-user-profile .social-profiles a:hover {
   font-size: 17px;
   opacity: 0.9;
  }

.regular-user-profile .social-profiles a:focus {
   background:#63C1AE;
    color: #fff;
    border: 1px solid #63C1AE;
}

.regular-user-profile a:focus {
    outline: none;
    outline-offset: 0px;
}

.regular-user-profile .social-profiles {
    position: absolute;
    right: 0;
    top: 5px;
    bottom:5px;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.regular-user-profile .firm {
    position: absolute;
    right: 0;
    top: auto;
    bottom:5px;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.regular-user-profile .skill {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    display: inline-block;
    font-size: 13px;
    margin: 4px 0 0;
    padding: 2px 5px;
     -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.regular-user-profile .tags:hover{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    display: inline-block;
    font-size: 13px;
    margin: 4px 0 0;
    padding: 2px 5px;
}

.regular-user-profile #profile:hover .social-profiles {
    opacity: unset;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


.regular-user-profile .btn-o {
    
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    color: #ffffff !important;
    display: inline-block;
    font-family: open sans;
    font-size: 15px !important;
    font-weight: normal !important;
    margin: 0 0 10px;
    padding: 5px 11px;
    text-decoration: none !important;
    text-transform: uppercase;
    
   background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.regular-user-profile .btn-o:hover {
  background-color: rgba(255, 255, 255, 0.4);
    color: #fff !important;
  }

.regular-user-profile .btn-o:focus {
   background:##63C1AE;
    color: #fff;
    border: 1px solid ##63C1AE;
}

.regular-user-profile ul {
	list-style-type: none;
}

.regular-user-profile a {
	color: #63C1AE;
	text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/




 .regular-user-profile .profile {
 	width: 100%;
 	max-width: 760px;
 	margin: 30px auto 0px;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 30px;
 	background: #FFF;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 }

.regular-user-profile .profile .link {
	display: block;
	padding: 15px 15px 15px 42px;
	color: #4D4D4D;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.regular-user-profile .profile li:last-child .link {
	border-bottom: 0;
}

.regular-user-profile .profile li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.regular-user-profile .profile li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.regular-user-profile .profile li.open .link {
	color: #63C1AE;
}

.regular-user-profile .profile li.open i {
	color: #63C1AE;
}
.regular-user-profile .profile li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.regular-user-profile .profile li.default .submenu {
    display: block;
}

/**
 * Submenu
 -----------------------------*/
.regular-user-profile .submenu {
 	display: none;
 	background: #444359;
 	font-size: 14px;
 }

.regular-user-profile .submenu li {
 	border-bottom: 1px solid #4b4a5e;
     display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 12px;
 	padding-left: 10px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

.regular-user-profile .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 12px;
 	padding-left: 10px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

.regular-user-profile .submenu a:hover {
 	color: #FFF;
 }


.regular-user-profile div.add-comment {
        margin-top: 30px;
    }

    .regular-user-profile textarea.add-comment {
        width: 600px;
        height: 100px;
        margin-right: 20px;
        vertical-align:top;
        margin-bottom:40px;
    }

    .regular-user-profile .comment {
        border-top: 2px solid grey;
        border-bottom: 2px solid grey;
        border-radius: 15px;
        width: 50%;
        margin: 0 auto
    }

    .regular-user-profile .comment-author {
        margin-bottom: 15px
    }

    .regular-user-profile .comment-content {
        margin-top: 15px;
        margin-bottom: 15px
    }

    .regular-user-profile .reviews-section {
        text-align:center;
        margin-top:30px;
    }


