/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

 /*Responsive: Portrait tablets and up*/ 
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    /*.body-content {
        padding: 0;
    }*/
}

.manage-profile{
    margin-top:30px;
}

.manage-profile h2{
    margin-left:80px;
}

.change-password{
    text-align:center;
    font-weight:bold;
    font-size:20px;
}

a.navbar-brand {
    padding: 0 15px 15px 15px;
    vertical-align: top
}

.logo-image {
    width: 25px;
    height: 25px;
    margin-top: 0;
    margin-right: 5px
}

span.logo-text {
    display: inline-block;
    margin-top: 20px
}

