.break {
    margin-top: 20px;
    text-align: center;
}

.break .search-input {
    height: 40px;
    width: 200px;
    margin-right: 10px
}

.break div.search-and-sort {
    width: 100%;
    text-align: center;
    margin-bottom:20px
}

    .break div.search-and-sort .btn-search {
        margin-right: 20px
    }

    .break div.search-and-sort .sort-by {
        margin-right: 10px;
        height: 40px
    }


    .break div.images-group{
         width: 100%;
         margin: 0 0 0 0
    }

    .break div.image {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 25%;
        padding-top:25%;
    }


.break div.image:hover {
    opacity: 0.95
}

.break div.image .likes, div.image .dislikes {
    vertical-align: bottom;
    text-align: left;
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
    z-index: 1000;
    color: white;
    font-size: 20px;
    opacity: 0.8;
    text-decoration: none;
    background-color: black;
    border-radius: 12px
}

    .break div.image .likes:hover, div.image .dislikes:hover {
        opacity: 1;
        cursor: pointer
    }

    .break div.image .likes:active:before, div.image .dislikes:active:before {
        background-size: 32px 32px;
    }

    .break div.image .likes::before, div.image .dislikes::before {
      background-size: 30px 30px;
      display: inline-block;
      width: 30px;
      height: 30px;
      content: "";
      margin-right: 5px
    }

.break div.image .likes {
    left: 30px
}

    .break div.image .likes::before {
      background-image: url("Images/like-img.png")
    }

.break div.image .dislikes {
    right: 30px
}

    .break div.image .dislikes::before {
      background-image: url("Images/dislike-img.png")
    }

.break input[type=submit].img-btn {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0
}

.break div.paging-row {
    margin-top: 10px;
    width: 100%;
    height: 40px;
}

.break .paging-btn {
    font-size: 24px;
    background-color: black;
    border-radius: 10px;
    opacity: 0.7;
    padding-left: 5px;
    padding-right: 5px;
}

.break #MainContent_ListViewImages_DataPager {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.page-image-details {
    width: 100%;
}

.image-details {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 60px
}

    .image-details .uploaded-image {
        margin-bottom: 20px
    }

    .image-details .likes, .image-details .dislikes {
        text-align: center;
        color: white;
        font-size: 20px;
        opacity: 0.8;
        text-decoration: none;
        background-color: black;
        border-radius: 12px
    }

    .image-details .likes:hover, .image-details .dislikes:hover {
        opacity: 1;
        cursor: pointer
    }

    .image-details .likes:active:before, .image-details .dislikes:active:before {
        background-size: 32px 32px;
    }

    .image-details .likes::before, .image-details .dislikes::before {
      background-size: 30px 30px;
      display: inline-block;
      width: 30px;
      height: 30px;
      content: "";
      margin-right: 5px
    }

    .image-details .likes::before {
      background-image: url("Images/like-img.png")
    }

    .image-details .dislikes::before {
      background-image: url("Images/dislike-img.png")
    }

    .image-details div.add-comment {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .image-details textarea.add-comment {
        width: 600px;
        height: 100px;
        margin-right: 20px;
        vertical-align:top;
    }

    .image-details .left {
        margin-right: 100px
    }

    .image-details .right {
        margin-left: 150px
    }

    .image-details .comment {
        border-top: 2px solid grey;
        border-bottom: 2px solid grey;
        border-radius: 15px;
        width: 50%;
        margin: 0 auto
    }

    .image-details .comment-author {
        margin-bottom: 15px
    }

    .image-details .comment-content {
        margin-top: 15px;
        margin-bottom: 15px
    }

    .image-details .footer {
        text-align:center
    }

.upload-image .file-upload {
    width: 500px;
    margin-left: 20px;
    margin-bottom: 20px
}

.upload-image .img-title {
    height:40px;
    width: 300px;
    margin-bottom: 10px
}

.upload-image select.upload-by {
    height: 40px;
    margin-left: 10px
}

.upload-image .k-upload {
    margin-bottom: 10px
}

.upload-image p.upload-by {
    margin-bottom: 10px
}

.upload-image .message {
    margin: 20px 0 15px 20px;
    font-size: 18px
}
